@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Poppins:wght@100&display=swap');

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/
/*grijs #899CA0
donkergroen #1C2B32*/

/*////////////////////////
    1. Global Styles
////////////////////////*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #1C2B32;
    margin-left: 200px;
    margin-bottom: 50px;
    text-align: center;
}

/*////////////////////////
    2. Typography
////////////////////////*/
h1 {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 72px;
    color: #1C2B32;
    margin-top: 20px 20 px;
}
h2 {
    font-family: 'verdana', 'arial', sans-serif;
    font-size: 40px;
    color: #1C2B32;
    margin-top: 20px 20 px;
}

p {
    line-height: 1.5;
    margin-bottom: 10px;
}

/*//////////////3. Areas/////////////////*/
section {
    font-weight: bold;
    font-family: Arial bold, Helvet, sans-serif;
    color: #1C2B32;
}

.callcenter {
    background-size: 50%;
    background-position: center;
    border-radius: 12px;

}

/*///////////// 3.1 Header /////////////*/
header {
    text-align: center;
    background-image: url("../assets/images/mountains.jpg");
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin-left: -200px;
    margin-bottom: 30px;
}

.header h1 {
    color: white;
    font-weight: bold;
    font-size:20px;
}
header .header-container p {
    color: white;
    font-weight: bold;
    font-size:2em;
}

.check {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 10px;
    margin-right: -10px;
}

.check::placeholder {
    background-color: transparent;
    color: black;
}

.check-button {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 10px;
    background-color: #1C2B32;
    color: white;
}

/*///////////// 3.2 Testimonial /////////////*/
.testimonial {
    background-color: whitesmoke;
    color: #1C2B32;
    padding: 30px 30px 30px 30px;
    box-shadow: 10px 6px 23px 1px rgba(0,0,0,0.5);
    border-radius: 10px;
    margin-bottom: 20px;

}

.testimonial h2 {
    background-color: whitesmoke;
    color: #1C2B32;
    padding: 20px 20px 20px 20px;
    font-size: 24px;
    margin-bottom: 10px;
    box-shadow: 10px 6px 23px 0px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.testimonial p {
    font-style: italic;
    padding: 30px 30px 30px 30px;
}

/*///////////// 3.3 Support /////////////*/
.support {
    background-color: #899CA0;
    color: white;
    padding: 20px;
}

.support h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.support p {
    margin-bottom: 10px;
}

main {
    width: 1000px;
}

/*///////////// 3.4 Faq /////////////*/
.faq {
    background-color: #1C2B32;
    color: white;
    padding: 20px;
}

.faq h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.faq p {
    margin-bottom: 10px;
}

a.name-link {
    color: #899CA0;
    text-decoration: none;
}

a.name-link:hover {
    color: #1C2B32;
    text-decoration: none;
}

a {
    cursor: pointer;
}

details {
    cursor: pointer;
}

section {
    padding-bottom: 100px;
}

details > p {
    background-color: #1C2B32;
    border-radius: 20px;
    color: white;
}


button.contact {
    background-color: #1C2B32;
    color: white;
    border-radius: 30px;
    padding: 25px;
    text-decoration: none;

}

button.contact > a {

    color: white;
    border-radius: 30px;
    text-decoration: none;

}

/*///////////// 3.5 Footer /////////////*/
footer > section {
    background-color: #899CA0;
    color: white;
    background-color: #1C2B32;
    color: white;
    text-align: center;
    margin-left: -200px;

}
